body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#intro-container, #game-container {
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

canvas {
    display: block;
    margin: 20px auto;
    border: 1px solid #ccc;
    background-color: #ffffff;
}

input {
    width: 70%;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#timer, #score, #hint {
    margin: 10px;
    font-size: 18px;
}

#completed-circles {
    position: absolute;
    left: -9999px;
}
